:root {
  --vocus-red: #fd21ef;
  --vocus-dark-red: #171717;
}

:not(.fa) {
  font-family: 'Comic Sans MS' !important;
}

body > header {
  background: linear-gradient(
    90deg,
    rgba(0, 140, 255, 1) 0%,
    rgba(0, 255, 102, 1) 19%,
    rgba(255, 230, 0, 1) 40%,
    rgba(255, 128, 0, 1) 57%,
    rgba(255, 0, 0, 1) 75%,
    rgba(255, 0, 220, 1) 89%
  );
}

.content-header-background {
  filter: hue-rotate(-48deg);
}
